/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ********************************************* */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #212529;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
    text-align: left;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin: 3rem auto;
    margin-bottom: 2rem;
}


button{
    text-decoration: none;
    color: rgb(61, 99, 86);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    border: none;
    background: none;
}

button:hover {
    color: rgb(105, 187, 142);
    font-weight: 800;
    text-shadow:  #212529 2px 2pn 4px;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}

main {
    width: 100%;
}


header ul {
    display: flex;
    background-color: #ffffff;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: #fff;
    text-align: center;
    z-index: 1000; /* Đảm bảo header hiển thị trên nội dung khác */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Tạo hiệu ứng đổ bóng */
    border-radius: 0 0 25px 25px ;
    align-items: center;
    justify-content : center;
}

#menu {
    display: block;
    justify-content: center;
    height: 100%;
    font-size: 1rem;
    padding: 0.5rem;
}

#button_father {
    position: relative;
    padding: 0;
    height: 100%;
    display: none;
}

#menu__button {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 9rem;
    top: 2rem;
    left: -3.3rem;
    display: none;
    pointer-events: none;
}

#button_father:hover ul {
    display:block;
    pointer-events: auto;
}




a {
    text-decoration: none;
    color: rgb(61, 99, 86);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
}

a:hover {
    color: rgb(105, 187, 142);
    font-weight: 800;
    text-shadow:  #212529 2px 2pn 4px;
}


.container {
    margin: 0 auto;
    padding-left: 15px; 
    padding-right: 15px;
    width: 80%;
    height: 80%;
}

.logo {
    height: 50px;           /* Điều chỉnh kích thước logo */
}

header ul li {
    display: inline-block;
    margin: auto 1rem;
}

/* footer edit */

footer {
    width: 100%;
    height: 40%;
    display: flex;
    background-color: #a7b7b9;
    box-sizing: content-box;
    padding: 1rem 0;
    align-items: center;
    justify-content: center; /* Canh giữa theo chiều dọc */
    z-index: 500;
    box-shadow: 2px 2px 7px #090b20;
    margin-bottom: 7px;
    gap: 2rem;
}

#copyright {
    width: 35%;
    height: 20%;
    display: flex;
    float: left;
    margin: 0 0;
    align-items: center;
}

#copyright img {
    margin: 1rem;
}

#call {
    display: block;
    float: left;
    text-align: center;
}
#mail {
    display: block;
    float: left;
    text-align: center;
}
#address {
    display: block;
    float: left;
    text-align: center;
}
#sociallink {
    display: block;
    float: left;
    text-align: center;
}

#footer__icon a i {
    font-size: 2rem;
    margin: 0 2px;
}
/* END FOOTER */


/* BEGIN HOME */

#pageone {
    width: 100%; /* Chiều rộng 100% màn hình */
    height: 100vh;
}

#pageone_left {
    display: flex;
    align-content: center;
    width: 50%;
    float: left;
    height: 100%;
}

#pageone_left div {
    width: 30%;
    height: 80%;
    background-color: rgb(252, 227, 250);
    margin: auto auto;
    position: absolute;
    top: 54%;  /* Đặt ở giữa theo chiều dọc */
    left: 30%; /* Đặt ở giữa theo chiều ngang */
    transform: translate(-50%, -50%); /*Dịch chuyển về đúng trung tâm*/
    border-radius: 40px;
    text-align: center;
    padding-top: 4rem;
    box-shadow: 2px 2px 7px #212529;
}

#pageone_left div h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

#pageone_left div a i {
    font-size: 2rem;
    margin: 0 0.3rem;
}

.mota {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}

#mypicture {
    height: 50%;
    border:5px #212529 solid;
    border-radius: 5%;
}

#pageright {
    width: 30%;
    height: 50%;
    position: absolute;
    transform: translate(150%, 50%);
    text-align: center;
    padding: 2rem 0;
    
}
#pageright button a {
    font-size: 0.8rem;
}

#pagetwo {
    width: 100%; /* Chiều rộng 100% màn hình */
    height: 100vh;
    text-align: center;
    margin: 0 auto;
}

#decord {
    width: 40%;
    height: 100%;
    background-color: rgb(230,218,206);
    position: fixed;
    top: 0;
    z-index: -100;
}

#cv h1 {
    text-shadow: 2px 2px 2px #ca7cc4;
    margin-top: 5rem;
    margin-bottom: 0;
    font-size: 100px;
}

.cvcomtainer {
    width: 50%;
    height: 70vh;
    background-color:rgb(252, 227, 250);
    border-radius: 50px;
    margin: 5rem auto;
    box-shadow: 2px 2px 7px #212529;
    text-align: center;
    padding: 2rem 3rem 2rem 3rem;
}

#cv1 {
    margin-top: 1rem;
}
#cv1 > ul > li{
    font-weight: bold;
    margin: 0.5rem auto;
}

#cv2_content {
    display: flex;
    position: relative;
}

#home__edu_oject {
    width: 30%;
    height: 100%;
    position: relative;;
}

#home__edu__thang {
    width: 3px;
    height:150px;
    background-color: #1ae969;
    margin: 0 auto;
    position: absolute;
    top: 0;
}

#home__time {
    width: 40%;
    position: absolute;
    left: -6px ;
}

.home__time_year {
    display: flex;
    align-items: center;
}
#home__time_year_dot2 {
    padding-top: 2rem;
}

#home__time_year_dot3 {
    padding-top: 3rem;
}

#edu__content {
    text-align: left;
}

#edu__content ul {
    list-style: circle;
    list-style-position: inside;
}

#edu__content p {
    font-weight: bold;
    font-size: large;
}


/* this is contact page edit */

#contact__cv1 {
    margin-top: 0;
}

#contact__cv h1 {
    text-shadow: 2px 2px 2px #ca7cc4;
    margin-top: 5rem;
    margin-bottom: 0;
    font-size: 90px;
}

#contact__cv1 > ul > li{
    font-weight: bold;
    margin: 0.5rem auto;
}

#contact__cv1 ul img {
    width: 40%;
    float:left;

}

#contact__cv1 ul p {
    font-weight: bold;
    line-height: 2rem;
}

#contact__icon a i {
    font-size: 2rem;
    margin: 0 5px;
}


/* EXPERIENCE */
#ex__decord {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #090b20;
    opacity: 0.2;
    top: 0;
    z-index: -400;
}

#background-mountain {
    width: 100vw;
    height:100vh;
    background-image:url('resorces/mountain.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -500;
    position: absolute;
    top: 0;
    left: 0;
}


#ex__content {
    width: 100vw;
    height: 70vh;
    display:block;
}

#khungtime {
    width: 6%;
    height: 70vh;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang */
    float: left;
}

#khungdoc {
    width: 3px;
    height:87%;
    background-color: #1ae969;
    margin: 0 auto;
    position: absolute;
    top: 1rem;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: #1ae969;
    border-radius: 50%; /* Bo tròn thành hình tròn */
    margin: 0 auto;
    position: absolute;
}

#dot1 {
    top: 1rem;
}

#dot2 {
    top: 54%;
}

.block {
    width: 47%;
    height: 70vh;
    text-align: center;
    position: relative;
    float: left;
}

#setbackground {
    max-width:fit-content;
    margin: auto;
}

.experience p{
    color: #090b20;
    font-size: 2rem;
}

#experience-2 {
    position: absolute;
    top: 50%;

}

#blockleft {
    text-align: right;
}
#blockleft h2 {
    margin: 0;
    text-align: right;
}

#blockright {
    text-align: left;
}
#blockright h2 {
    margin: 0;
    text-align: left;
}

/* activity */
#activity__content {
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
}

.content__container {
    text-align: left;
}

/* certificate */
#certificate__container {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.certificate__element {
    text-align: left;
    margin: 1rem;
}

.certificate__element ul li {
    list-style: circle;
    list-style-position:inside;
}


/* webportfolio */
#middle {
    max-width: 90vw;
    margin: auto;
    display: block;
}

#firstpage {
    width: 100%;
    height: 85vh;
    text-align: center;
}

#firstpage span {
    font-size: 1.3rem;
    margin: 1rem 0.5rem;
}

#live {
    font-weight: bold;
}

#firstpage h1 {
    font-size: 4rem;
    margin-top: 4rem;
    padding: 0 10% 0 10%;
}

#firstpage button {
    color: #212529;
    font-size: 2rem;
    border: 3px solid #212529;
    border-radius: 100px;
    padding: 0.8rem;
}

.web_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
}

.web_block {
    width: 50%;
    text-align: center;
}

#web_container2 .web_block img {
    width: 400px;      /* Đảm bảo chiều rộng và chiều cao bằng nhau */
    height: 400px;
    object-fit: cover; /* Giúp ảnh bao phủ toàn bộ khung hình mà không méo */
    border-radius: 50%;
}

.oldClass { color: red; }
.newClass { font-weight: bolder; font-size: 40px;}


/* tablet and mobile */
@media only screen and (max-width:1023px) {
    #pageone {
        width: 100%;
        height: 150vh;
    }
    #pageone_left {
        width: 100%;
        height:100vh;
        float: none;
        margin: 0 auto;
        margin-top: 1rem;
    }
    #pageone_left div {
        width: 70%;
        height: fit-content;
        position: relative;
        transform: none;
        top: 0;
        left:0;
        padding: 2rem;
    }
    #mypicture {
        width: 70%;
        height: auto;
        border: 5px #212529 solid;
        border-radius: 5%;
    }
    #pageright {

        width: 100%;
        height: auto;
        position: relative;
        transform: none;
        text-align: center;
        padding: 0 20%;
    }
    .cvcomtainer {
        height: fit-content;
        width: 80%;
    }
    footer #address {
        display: none;
    }
    #contact__cv1 {
        width: 80%;
    }
    #contact__cv1 ul img {
        width: 35%;
        height: max-content;
    }  
    #contact__cv1 ul h2 {
        font-size: 30px;
    } 
    #cv h1 {
        margin-top: 0;
    }
    #anpicture {
        display:none;
    }
    .web_container .web_block, #web_container2 .web_block{
        width: 100%;
        text-align: center;
    }
    .web_container {
        display: block;
    }
    #contact__cv h1 {
        font-size: 70px;
    }
}

/* tablet */
@media only screen and (max-width:1023px) and (min-width:767px) {
    #pageone_left {
        height: 70%;
    }
    #pageone_left div {
        width: 80%;
    }
    #pageright {
        height:max-content;
    }
}

/* mobile */
@media only screen and (max-width: 767px) 
{
    #menu {
        display: block;
        font-size: 3rem;
    }
    
    #button_father {
        display: block;
    }

    .button_menu {
        display:none;
    }

    header ul li img {
        float: left;
    }

    
    .cvcomtainer h2 {
        margin: 0;
    }
    #copyright {
        display:none;
    }

    /* experience */
    .experience h2 {
        font-size: 25px;
    }
    #pageone {
        width: 100%;
        height: 100vh;
    }
    #pageone_left {
        height:max-content;
    }
    #pageone_left div {
        margin-top: 5rem;
    }
    #pageright {
        height:max-content;
    }
    #cv h1 {
        font-size: 70px;
    }
    .cvcomtainer {
        width: 90%;
    }
    #contact__cv1 ul img {
        display: none;
    }
}
